@font-face {
	font-display: swap;
	font-family: "Satoshi";
	font-style: normal;
	font-weight: 300 900;
	src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
		url("../fonts/Satoshi-Variable.woff") format("woff");
}