@mixin breakpoint($breakpoint) {
	@if $breakpoint ==sm {
		@media only screen and (min-width: $sm) {
			@content;
		}
	}

	@if $breakpoint ==md {
		@media only screen and (min-width: $md) {
			@content;
		}
	}

	@if $breakpoint ==lg {
		@media only screen and (min-width: $lg) {
			@content;
		}
	}
}

@mixin typography($mobile-font-size, $mobile-line-height, $medium-font-size, $medium-line-height, $large-font-size, $large-line-height) {
	font-size: $mobile-font-size;
	line-height: $mobile-line-height;

	@include breakpoint(md) {
		font-size: $medium-font-size;
		line-height: $medium-line-height;
	}

	@include breakpoint(lg) {
		font-size: $large-font-size;
		line-height: $large-line-height;
	}
}